<select data-choose-theme id="theme" name="theme" class="block w-full py-2 pl-3 pr-10 text-base text-white bg-gray-700 border border-transparent rounded-md appearance-none bg-none focus:border-white focus:outline-none focus:ring-1 focus:ring-white sm:text-sm">
  <option value="light">Light</option>
  <option value="dark">Dark</option>
  <option value="cupcake">Cupcake</option>
  <option value="bumblebee">Bumblebee</option>
  <option value="emerald">Emerald</option>
  <option value="corporate">Corporate</option>
  <option value="synthwave">Synthwave</option>
  <option value="retro">Retro</option>
  <option value="cyberpunk">Cyberpunk</option>
  <option value="garden">Garden</option>
  <option value="forest">Forest</option>
  <option value="aqua">Aqua</option>
  <option value="lofi">Lofi</option>
  <option value="pastel">Pastel</option>
  <option value="fantasy">Fantasy</option>
  <option value="wireframe">Wireframe</option>
  <option value="black">Black</option>
  <option value="luxury">Luxury</option>
  <option value="cmyk">CMYK</option>
  <option value="autumn">Autumn</option>
  <option value="business">Business</option>
  <option value="acid">Acid</option>
  <option value="lemonade">Lemonade</option>
  <option value="night">Night</option>
  <option value="coffee">Coffee</option>
  <option value="winter">Winter</option>
</select>
